<!DOCTYPE html>
<html lang = 'en'>
<head>
  <meta charset = 'UTF-8'>
  <meta name = 'viewport' content = 'width = device-width, initial-scale = 1'>
  <title>Homepage</title>
{{!-- links here --}}
  <link rel = 'stylesheet' href = './css/jass.css'>
  <link rel = 'stylesheet' href = './css/style.css'>
</head>

<body>
  <main>
    <header>
      <h1><a href = '/'>BGF</a></h1>
      <nav>
        {{#if logged_in}}
          <a href = '/inventory'>My Inventory</a>
          <button id = 'logout'>Logout</button>
        {{else}}
          <a href = '/login'>Login</a>
        {{/if}}
      </nav>
    </header>
    
    <section class = 'container'>
      <h2>Board Game Fanatics!</h2>
      <p>Keep track of your large inventory of games with our help.</p>
      <a href = '/form'>Get Started!</a>
    </section>
  </main>
  {{#if logged_in}}
  <script src = './js/logout.js'></script>
  {{/if}}
</body>
</html>