<!DOCTYPE html>
<html lang = 'en'>
<head>
  <meta charset = 'UTF-8'>
  <meta name = 'viewport' content = 'width = device-width, initial-scale = 1'>
  <title>Login</title>
{{!-- links here --}}
</head>

<body>
  <main>
    <header>
      <h1><a href = '/'>BGF</a></h1>
      <nav>
        {{#if logged_in}}
          <a href = '/inventory'>My Inventory</a>
          <button id = 'logout'>Logout</button>
        {{else}}
          <a href = '/login'>Login</a>
        {{/if}}
      </nav>
    </header>
  </main>
</body>
</html>