<!DOCTYPE html>
<html lang = 'en'>
<head>
  <meta charset = 'UTF-8'>
  <meta name = 'viewport' content = 'width = device-width, initial-scale = 1'>
  <title>Login</title>
{{!-- links here --}}
</head>

<body>
  <main>
    <header>
      <h1><a href = '/'>BGF</a></h1>
      <nav>
        {{#if logged_in}}
          <a href = '/inventory'>My Inventory</a>
          <button id = 'logout'>Logout</button>
        {{else}}
          <a href = '/login'>Login</a>
        {{/if}}
      </nav>
    </header>
    
    <section>
      <h2>Welcome back!</h2>
      <p>Enter your email and password to access your inventory.</p>
      <div class = 'login-form'>
        <input id = 'email-login' type = 'text' placeholder = 'Your Email'>
        <input id = 'pass-login' type = 'text' placeholder = 'Your Password'>
        
        <button type = 'submit'>Submit</button>
        <h6>Haven't made an account?</h6>
        <a href = '/form'>Sign-Up</a>
    </section>
  </main>
  
  <script src = './js/logout.js'></script>
  <script src = './js/login.js'></script>
</body>
</html>